/* Cards Default */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(353.28px, 1fr));
  grid-gap: 30px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards .cards-card-image img {
  line-height: 0;
  width: 353.28px;
  aspect-ratio: auto 353.28 / 198.72;
  height: 198.72px;
}

.cta-button-link .button-container {
  margin:3em 0;
}

/* Arrow Link */
.hero-banner-image-right.cta-arrow-link .button-container {
  justify-content: flex-end;
}

/* Cards Border */
.cards.cards-border > ul > li {
  border-top: 1px solid var(--border-color);
  padding-top: 40px;
}

/* Cards Large */
.cards.cards-large {
  margin-top: 60px;
}

.cards.cards-large > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 16px;
}


.cards.cards-large .cards-card-image img {
  width: 567px;
  aspect-ratio: auto 567 / 319.14;
  height: 319.14px;
}


/* Cards Banner */
.cards.cards-banner {
  margin-bottom: 3em;
}

.cards.cards-banner > ul,
.cards.cards-hero-banner > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.cards.cards-banner > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3 for the first column, 2/3 for the second column */
  grid-auto-rows: auto; /* Ensure only one row */
  grid-gap: 30px;
}

.cards.cards-banner .cards-card-image img {
  width: 371.76px;
  aspect-ratio: auto 371.76 / 209.16;
  height: 209.16px;
}


/* Hero Banner */
.cards.cards-hero-banner > ul > li,
.cards.hero-banner-image-left > ul > li {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /* 1/3 for the first column, 2/3 for the second column */
  grid-auto-rows: auto; /* Ensure only one row */
  grid-gap: 20px;
  direction: ltr;
  grid-auto-flow: dense;
}


.cards.cards-hero-banner.hero-banner-image-right > ul > li {
  direction: rtl;
  grid-auto-flow: dense;
}

.cards.cards-hero-banner .cards-card-image img {
  width: 698px;
  aspect-ratio: auto 349 / 233;
  height: 396px;
}

